<div class="layout">

  <!-- SIDEBAR -->
  <div class="sidebar">

    <div class="logo">
      <h2>LISSA NETWORK</h2>
      <span>Sistema de Inventario</span>
    </div>

    <ul class="menu">

       <li 
         routerLink="inicio" 
         routerLinkActive="active">
         <span>🏠</span> Inicio
       </li>

      <li 
        *ngIf="puedeVer('nueva_entrada')"
        routerLink="nueva-entrada" 
        routerLinkActive="active">
        <span>➕</span> Nueva Entrada
      </li>

      <li 
        *ngIf="puedeVer('nueva_salida')"
        routerLink="nueva-salida" 
        routerLinkActive="active">
        <span>➖</span> Nueva Salida
      </li>

      <li 
        *ngIf="puedeVer('historial_entradas')"
        routerLink="historial-entradas" 
        routerLinkActive="active">
        <span>📊</span> Historial de Entradas
      </li>

      <li 
        *ngIf="puedeVer('historial_ventas')"
        routerLink="historial-ventas" 
        routerLinkActive="active">
        <span>💰</span> Historial de Salidas
      </li>

      <li 
        *ngIf="puedeVer('inventario')"
        routerLink="inventario" 
        routerLinkActive="active">
        <span>📦</span> Inventario
      </li>

      <li 
        *ngIf="puedeVer('atencion_cliente')"
        routerLink="atencion-al-cliente" 
        routerLinkActive="active">
        <span>📁</span> Atención al Cliente
      </li>

      <li 
        *ngIf="puedeVer('proveedores')"
        routerLink="proveedores" 
        routerLinkActive="active">
        <span>🚚</span> Proveedores
      </li>

      <li 
        *ngIf="puedeVer('categorias')"
        routerLink="categorias" 
        routerLinkActive="active">
        <span>🗂</span> Categorías
      </li>

      <li 
        *ngIf="puedeVer('usuarios')"
        routerLink="usuarios" 
        routerLinkActive="active">
        <span>👥</span> Usuarios
      </li>

    </ul>

    <div class="footer">
      © 2025 LissaNetwork
    </div>

  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="main">

    <div class="topbar">
      <div class="page-title">Panel de Control</div>

      <div class="user-info" *ngIf="usuarioLogueado">
        👤 {{ usuarioLogueado.nombre_completo }} 
        | {{ rolUsuario }} 
        | 
        <span class="logout" (click)="cerrarSesion()">
          Cerrar sesión
        </span>
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>